<mat-card class="box container" *ngIf="show" >
  <mat-card-header>
    <mat-card-title class="title">Form</mat-card-title>
    <mat-card-subtitle style="word-break: break-all;">ID: {{uuid}}</mat-card-subtitle> 
  </mat-card-header>
  <mat-card-content style="color: #191c63; " *ngIf="textCount <= 1">
      <form  [formGroup]="form" (ngSubmit)="onSubmit()" >
        <span *ngFor='let field of fields'>
          <mat-form-field *ngIf="field.type == 'text'"  appearance="outline" style="width: 70%!important; margin-left: 15%; margin-right: 15%;">
            <mat-label *ngIf="field.required == true">{{field.label}}*</mat-label>
            <mat-label *ngIf="field.required == false">{{field.label}}</mat-label>
            <input  matInput formControlName="{{field.name}}" >
          </mat-form-field>

          <mat-form-field *ngIf="field.type == 'textarea'" appearance="outline" style="width: 70%!important; margin-left: 15%; margin-right: 15%;">
            <mat-label *ngIf="field.required == true">{{field.label}}*</mat-label>
            <mat-label *ngIf="field.required == false">{{field.label}}</mat-label>
            <textarea matInput formControlName="{{field.name}}" style="height: 250px!important;"></textarea>
          </mat-form-field>
            
          <mat-form-field *ngIf="field.type == 'dropdown'" style="width: 70%!important; margin-left: 15%; margin-right: 15%;" appearance="outline" >
            <mat-label *ngIf="field.required == true">{{field.label}}*</mat-label>
            <mat-label *ngIf="field.required == false">{{field.label}}</mat-label>
            <mat-select formControlName="{{field.name}}">
              <mat-option *ngFor="let opt of field.options"  [value]="opt.value">{{opt.value}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="{{field.name}}" *ngIf="field.type == 'checkbox'" style="width: 70%!important; margin-left: 15%; margin-right: 15%; text-align: center;" class="example-radio-group" formGroupName="{{field.name}}" >
            <div style="margin-top: 3px!important; margin-left: 5px!important;">
              <mat-label *ngIf="field.required == true" class="example-checkbox-label">{{field.label}}* (Select from {{field.min}} to {{field.max}})</mat-label>
              <mat-label *ngIf="field.required == false" class="example-checkbox-label">{{field.label}}</mat-label>
            </div>
            <div>
              <mat-checkbox *ngFor="let opt of field.options" class="example-checkbox-button" formControlName="{{opt.value}}" >
                {{opt.value}}
              </mat-checkbox>
            </div>
          </div>

          <span *ngIf="field.type == 'radio'" class="example-radio-group" style="width: 70%!important; margin-left: 15%; margin-right: 15%; text-align: center;">
            <div id="{{field.name}}" *ngIf="field.required == true && subbmited == false" >
              <div style="margin-top: 3px!important; margin-left: 5px!important;">
                <mat-label *ngIf="field.required == true" class="example-radio-label">{{field.label}}*</mat-label>
              </div>
              <div>
                <mat-radio-group formControlName="{{field.name}}" >
                  <mat-radio-button class="example-radio-button" *ngFor="let opt of field.options" [value]="opt.value" id={{opt.value}}>
                    {{opt.value}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div id="{{field.name}}" *ngIf="field.required == false && subbmited == false">
              <div style="margin-top: 3px!important; margin-left: 5px!important;">
                <mat-label *ngIf="field.required == false" class="example-radio-label">{{field.label}}</mat-label>
              </div>
              <div>
                <mat-radio-group formControlName="{{field.name}}" >
                  <mat-radio-button class="example-radio-button" *ngFor="let opt of field.options" [value]="opt.value" id={{opt.value}}>
                    {{opt.value}}
                  </mat-radio-button>    
                </mat-radio-group>
              </div>
            </div>
          </span>
          
        </span>
        <div style="margin-top: 15px; width: 98%; align-items: center; text-align: center;" >
          <button mat-button type="submit">Submit <mat-icon style="margin-left: 10px;">send</mat-icon></button> 
        </div>
      </form>
  </mat-card-content>
  <mat-card-content style="color: #191c63; " *ngIf="textCount > 1">
    <form  [formGroup]="form" (ngSubmit)="onSubmit()" >
      <span *ngFor='let field of fields'>
        <mat-form-field *ngIf="field.type == 'text'"  appearance="outline" style="width: 47%!important; margin-left: 1%; margin-right: 1%;">
          <mat-label *ngIf="field.required == true">{{field.label}}*</mat-label>
          <mat-label *ngIf="field.required == false">{{field.label}}</mat-label>
          <input  matInput formControlName="{{field.name}}" >
        </mat-form-field>

        <mat-form-field *ngIf="field.type == 'textarea'" appearance="outline" style="width: 96%!important; margin-left: 1%; margin-right: 1%;">
          <mat-label *ngIf="field.required == true">{{field.label}}*</mat-label>
          <mat-label *ngIf="field.required == false">{{field.label}}</mat-label>
          <textarea matInput formControlName="{{field.name}}" style="height: 250px!important;"></textarea>
        </mat-form-field>
          
        <mat-form-field *ngIf="field.type == 'dropdown'" style="width: 47%!important; margin-left: 1%; margin-right: 1%;" appearance="outline" >
          <mat-label *ngIf="field.required == true">{{field.label}}*</mat-label>
          <mat-label *ngIf="field.required == false">{{field.label}}</mat-label>
          <mat-select formControlName="{{field.name}}">
            <mat-option *ngFor="let opt of field.options"  [value]="opt.value">{{opt.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div id="{{field.name}}" *ngIf="field.type == 'checkbox'" style="width: 70%!important; margin-left: 15%; margin-right: 15%; text-align: center;" class="example-radio-group" formGroupName="{{field.name}}" >
          <div style="margin-top: 3px!important; margin-left: 5px!important;">
            <mat-label *ngIf="field.required == true" class="example-checkbox-label">{{field.label}} (Select from {{field.min}} to {{field.max}})* </mat-label>
            <mat-label *ngIf="field.required == false" class="example-checkbox-label">{{field.label}}</mat-label>
          </div>
          <div>
            <mat-checkbox *ngFor="let opt of field.options" class="example-checkbox-button" formControlName="{{opt.value}}" >
              {{opt.value}}
            </mat-checkbox>
          </div>
        </div>

        <span *ngIf="field.type == 'radio'" class="example-radio-group" style="width: 70%!important; margin-left: 15%; margin-right: 15%; text-align: center;">
          <div id="{{field.name}}" *ngIf="field.required == true && subbmited == false" >
            <div style="margin-top: 3px!important; margin-left: 5px!important;">
              <mat-label *ngIf="field.required == true" class="example-radio-label">{{field.label}}*</mat-label>
            </div>
            <div>
              <mat-radio-group formControlName="{{field.name}}" >
                <mat-radio-button class="example-radio-button" *ngFor="let opt of field.options" [value]="opt.value" id={{opt.value}}>
                  {{opt.value}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div id="{{field.name}}" *ngIf="field.required == false && subbmited == false">
            <div style="margin-top: 3px!important; margin-left: 5px!important;">
              <mat-label *ngIf="field.required == false" class="example-radio-label">{{field.label}}</mat-label>
            </div>
            <div>
              <mat-radio-group formControlName="{{field.name}}" >
                <mat-radio-button class="example-radio-button" *ngFor="let opt of field.options" [value]="opt.value" id={{opt.value}}>
                  {{opt.value}}
                </mat-radio-button>    
              </mat-radio-group>
            </div>
          </div>
        </span>
        
      </span>
      <div style="margin-top: 15px; width: 98%; align-items: center; text-align: center;" >
        <button mat-button type="submit">Submit <mat-icon style="margin-left: 10px;">send</mat-icon></button> 
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions style="text-align: center; align-items: center; margin-left: auto; margin-right: auto;">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxflex fxLayout.xs = "column" style=" margin-left: 1%; margin-right: 1%;">
      <img class="logo">
    </div>
    <div style="margin-top: 10px;">
      <p style="color: darkgrey;">© 2020 Apius Technologies S.A.. All rights reserved. </p>
    </div>
  </mat-card-actions>
</mat-card>