html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image:  url(./assets/svg/background.svg);}

.container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.logo {
    float: right;
    content: url('./assets/svg/logo.svg');
}

.box{
    width: 70%;
    border-style: solid;
    border-radius: 35px!important;
    border-color: #0cedc7;
    height: auto;
}

.mat-form-field-label {
    color:  #191c63;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #0cedc7!important;;
}

button{
    width: 130px;
    height: 40px;
    font-size: 21px!important;
    font-weight: 500!important;
    background-color: #191c63!important;
    color: #0cedc7!important;
    margin-left: 1%!important;
    margin-right: 1%!important;
}

.title{
    font-size: 27px!important; 
    color: #191c63;
    line-height: normal;
    
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #0cedc7;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #0cedc7;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #0cedc7;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #0cedc7;
}

.snackbar-invalid-form{
    background-color: red;
    color: white;
}

.snackbar-valid-form{
    background-color: green;
    color: white;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0cedc7;
}

.example-radio-group {
    display: inline-grid;
    text-align: left;
    border-style: solid;
    border-color: #0cedc7;
    border-width: 1px;
    border-radius: 5px;
    min-height: 52px;
    margin-bottom: 15px!important;
    margin-top: 5px!important;
    padding-top: 0px;
    min-width: 115px!important;
  }

  .example-radio-label {
    font-size: 14px;
  }
  
  .example-radio-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    white-space: inherit;
  }
  
  .example-checkbox-label {
    font-size: 14px;
  }
  
  .example-checkbox-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 2px!important;
    padding-right: 0;
}

.mat-radio-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: inherit!important;
    vertical-align: middle;
    width: 100%;
}

.mat-checkbox-layout {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: inherit!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
    margin-top: 10px!important;
    margin-bottom: 5px!important;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    padding-right: 10px!important;

}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    min-width: 200px!important;

}

.mat-card-header {
    width: 97%!important;
}